# Node.js
node_modules/
bot/node_modules/
.idea/*
# Python
.venv/

# Ambiente
.env
*.log

# Build/IDE
dist/
build/
.idea/


# Ignorar arquivos específicos
# Ignorar arquivos específicos
bot/package-lock.json
bot/package.json
bot/.wwebjs_cache/
ui/package-lock.json
ui/package.json
ui/app/globals.css
ui/app/layout.tsx
ui/app/page.tsx
ui/.gitignore
ui/README.md
ui/components.json
ui/next.config.ts
ui/postcss.config.js
ui/postcss.config.mjs
ui/src/components/ui/
ui/src/hooks/use-toast.ts
ui/src/lib/utils.ts
ui/tailwind.config.js
ui/tsconfig.json
bot/package-lock.json
bot/package.json