# Node.js
node_modules/
bot/node_modules/
.idea/*
# Python
.venv/

# Ambiente
.env
*.log

.idea/vcs.xml
server/__pycache__/main.cpython-312.pyc
# Build/IDE
dist/
build/
.idea/


# Ignorar arquivos específicos
# Ignorar arquivos específicos
bot/.wwebjs_cache/
